/* Barra de navegacion */

.navbar {
  padding: 2rem;
  background-color: #f5f6f7;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

/* Estilos generales */

section {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* background-color: #ffc805; */
  padding: 90px;
}
.sobre-mi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  font-size: 2.5rem;
  font-family: Rubik;
}

.seccion-oscura {
  color: white;
  background-color: #0b1357;
  /* margin-top: 50px; */
}
.seccion-oscuraa {
  color: white;
  background-color: #0b1357;
  /* margin-top: 50px; */
  margin-top: 154px;
}
.seccion-clara {
  color: black;
  background-color: white;
}

.seccion-titulo {
  font-size: 2rem;
  padding: 15px 0;
  font-family: Rubik;
  /* margin-bottom: 30px; */
}

.seccion-descripcion {
  font-size: 1.2rem;
  color: #584e4e;
}

.seccion-texto {
  font-size: 1.2rem;
}

.btn-info {
  font-size: 1.1rem;
  margin: 20px;
}

.texto-negro {
  color: black;
  margin-top: 19px;
  margin-bottom: 47px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.texto-blanco {
  color: white;
}

/* Seccion Hero */

.hero {
  background-color: #f5f6f7;
  min-height: 450px;
  text-align: center;
}

.hero-principal {
  padding: 3rem;
}

.hero-imagen-desarrollador {
  width: 200px;
  height: 200px;
  margin: 20px;
}

.hero-principal h2 {
  font-size: 1.5rem;
  color: #615151;
  margin-top: 0;
}

/* Sobre mi */

.sobre-mi {
  height: 400px;
  padding: 10px;
}

.sobre-mi .contenedor {
  max-width: 600px;
  text-align: center;
}

/* Experiencia */

.experiencia {
  padding: 40px 40px 60px 40px;
}

.experiencia .columna {
  padding: 20px;
  border: 2px solid #8080804d;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
  color: white;
  background-color: #1b1b32;
}

.experiencia i {
  font-size: 2.5rem;
  color: #7ade30;
  background-color: #0a0a23;
  padding: 8px 19px;
  border-radius: 50%;
}

.experiencia-titulo {
  font-size: 25px;
  font-weight: bold;
  margin: 10px 0;
}

.badges-contenedor {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.badge {
  margin: 5px;
}

/* Proyectos */

.proyectos-recientes {
  padding: 40px;
}

.proyectos-recientes img {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  display: block;
  transition: all 0.2s ease;
}

.proyectos-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.overlay {
  transition: all 0.2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.overlay p {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.proyecto {
  position: relative;
}

.proyecto:hover img {
  opacity: 0.2;
}

.proyecto:hover .overlay {
  opacity: 1;
}

/* .overlay .iconos-contenedor {
  display: flex;
  justify-content: center;
} */
.iconos-contenedor {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.overlay i {
  color: black;
  font-size: 60px;
  margin: 10px;
}

/* Testimonios */

.testimonios {
  padding: 40px 40px 80px 40px;
}

.testimonios .carousel {
  max-width: 800px;
}

.carousel-item {
  height: 500px;
}

.carousel-item .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonio-imagen {
  height: 150px;
  width: 150px;
  margin: 10px 10px 20px 10px;
}

.testimonio-texto {
  max-width: 70%;
  font-size: 20px;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
}

.testimonio-info {
  font-weight: bold;
  text-align: center;
}

.testimonio-info p {
  margin-bottom: 0;
}

.testimonio-footer .cliente {
  font-size: 1.2rem;
}

.testimonio-info .cargo {
  font-size: 0.9rem;
  color: #656060;
}

/* Contacto */

.contacto .container {
  max-width: 1100px;
  min-height: 200px;
  padding: 20px;
  margin-top: 98px;
}

.contacto .rectangulo {
  margin-top: -5rem;
  background-color: #ffc805;
  border-radius: 10px;
  box-shadow: 0px 1px 4px 1px white;
}
/* .accordion-button::after {
  --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3E%3Cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-image: var(--bs-accordion-btn-active-icon) !important;
} */

.contacto .row {
  width: 100%;
  display: flex;
  align-items: center;
}

.contacto .descripcion {
  color: white;
  font-size: 1.2rem;
}

.contacto button {
  color: white;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid white;
  padding: 1.25em 2em;
  margin: 10px;
  border-radius: 100px;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover {
  background-color: white;
  color: black;
}

.contacto button i {
  color: white;
  font-size: 1.3rem;
  transition: all 0.2s ease-in-out;
}

.contacto button:hover i {
  color: black;
}

/* Pie de pagina (footer) */

footer {
  min-height: 150px;
}

.footer-logo {
  height: 80px;
  width: 80px;
  margin: 10px;
}

.footer-texto {
  font-size: 1.5rem;
  padding: 20px;
  margin-bottom: -14px;
  font-family: Rubik;
}

.iconos-redes-sociales a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 10px;
  border: 2px solid white;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales i {
  color: white;
  font-size: 1.5rem;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: #ffc805;
  border: 2px solid #ffc805;
}

.iconos-redes-sociales a:hover i {
  color: rgb(255, 255, 255);
}

.derechos-de-autor {
  font-size: 15px;
  color: #aeaeae;
  padding: 20px;
}

/* Adaptable (Responsivo) */

@media screen and (max-width: 400px) {
  .overlay p {
    font-size: 18px;
  }

  .overlay i {
    font-size: 40px;
  }
}

@media screen and (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .testimonio-imagen {
    height: 120px;
    width: 120px;
  }

  .testimonio-texto {
    font-size: 18px;
  }
}

@media screen and (min-width: 700px) {
  .hero-inferior-imagen {
    max-width: 600px;
  }
}

/* section de proyectos  */

.accordion-flush .accordion-item .accordion-button,
.accordion-flush .accordion-item .accordion-button.collapsed {
  border-radius: 0;
  background-color: #ffc805; /* Color de fondo */
  padding: 10px 20px; /* Espacio interno para el texto */
  font-family: Rubik; /* Tipo de fuente */
  font-size: 16px; /* Tamaño de la fuente */
  border-top-left-radius: 10px; /* Redondear esquina superior izquierda */
  border-top-right-radius: 10px; /* Redondear esquina superior derecha */
  width: 252px; /* Ancho del elemento */
  text-align: center; /* Alineación del texto */
  box-shadow: -1px -5px 5px rgba(0, 0, 0, 0.2); /* Sombra para efecto 3D */
  position: relative; /* Posición relativa para ajustes posicionales */
  top: -27px; /*Desplazar hacia abajo para simular la pestaña abierta */
}
.accordion-button:hover {
  color: #ffffff;
}
.accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: var(--bs-accordion-active-bg);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
/* .accordion-header {
  margin-bottom: 0;
  margin-top: revert;
} */
.accordion-flush .accordion-item:first-child {
  border-top: 0;
  background-color: #ffc805;
}
.accordion-flush .accordion-item {
  background-color: #ffc805;
  border-radius: 10px;
  box-shadow: 9px -12px 5px rgba(0, 0, 0, 0.2);
}
/* letras de la pestaña de folder  */
b,
strong {
  font-weight: 500;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
  border-radius: 10px;
}
.bi.bi-github {
  color: #ffffff;
  font-size: xxx-large; /*medida de icono*/
  margin: 17px;
}
.bi.bi-laptop {
  color: #ffffff;
  font-size: xxx-large;
}
.bi.bi-github:hover {
  color: #0b1357;
}
.bi.bi-laptop:hover {
  color: #0b1357;
}
.accordion-flush .accordion-item:last-child {
  border-bottom: 0;
  /* margin-bottom: 226px; */
}

.block-final {
  height: 438px;
}

/* codigo de chatgtp  para las felchas 
.fa-chevron-down {
  color: #ff0000; /* Cambia el color a rojo 
}
.accordion-button::after {
  /* Suponiendo que la flecha es un contenido de texto como '\f078' (chevron de FontAwesome) 
  content: "\f078";
  font-family: FontAwesome;
  color: #ff0000;
}
.accordion-button.collapsed::after {
  color: #ff0000; 
}

.accordion-button::after {
  color: #ff0000; 
} */

/* body de acordion  */

.title-body-accordion {
  justify-content: center;
  display: flex;
  justify-content: center;
  font-size: x-large;
}
/* texto que tiene animacion  */
.text-primary {
  --bs-text-opacity: 1;
  color: #ffc805 !important;
}
.rounded-circle {
  border-radius: 10% !important;
}
